.page {
    width: 100%;
    display: flex;
}

.container_clientes {
    width: 32.99%;
    height: 100%;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: black;
    margin-right: 2%;
}

.container_registros {
    width: 66.01%;
    height: 100%;
    overflow-y: auto;    /* ativa scroll vertical apenas se precisar */
    overflow-x: hidden;  /* desativa scroll horizontal */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE e Edge antigo */
}

.sua-div::-webkit-scrollbar {
  display: none; /* Chrome, Safari e Opera */
}

.lista_clientes {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

.void_container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.void_container p {
    font-size: 18px;
    font-weight: bold;
    color: gray;
    opacity: 70%;
}

.lista_registros {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
    gap: 15px;
}

.back_button {
    position: fixed;
    height: 40px;
    width: 40px;
    bottom: 10px;
    right: 10px;
    background-color: var(--title-blue);
    color: white;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}


@media screen and (width < 1290px) {
    .container_registros {
        width: 53%;
    }
    .container_clientes {
        width: 45%;
    }
}

@media screen and (width < 940px) {    
    .container_clientes {
        width: 100%;
        border: none;
        margin: 0;
    }
    .container_registros {
        width: 100%;
        border: none;
        margin: 0;
        padding: 0%;
    }
}

.page {
    display: flex;
}

@media screen and (width < 590px) {
    .page {
        flex-direction: column;
        padding: 10px;
        width: 100%;
    }
    .lista_registros {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}