.container {
    width: 68%;
    height: 100%;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: black;
    margin-right: 2%;
}

.notifications {
    width: 30%;
    height: 100%;
}

.notifications h3 {
    color: var(--text-green);
    font-weight: 400;
}