.container {
    width: 68%;
    height: 100%;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: black;
    margin-right: 2%;
}

.notifications {
    width: 30%;
    height: 100%;
}

.notifications h3 {
    color: var(--text-green);
    font-weight: 400;
}

.container_registros {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.void {
    height: 99%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.void p {
    font-size: 25px;
    font-weight: 500;
    color: gray;
    opacity: 70%;
}