.message {
    background-color: #a8ffb5;
    width: fit-content;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 10px 10px 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;  
    max-width: 400px;
    text-align: justify;
}

.triangulo {
    width: 12px;
    height: 12px;
    margin-right: -1px;
    background-color: #a8ffb5;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    transform: scaleX(-1);
}

.container_message {
    display: flex;
}

.container_buttons {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 15px;
}

.button_area {
    margin-top: 20px;
    display: flex;
    justify-content: end;
}

.paragraph {
    width: 50%;
    margin-block: 10px;
}

@media screen and (width < 1000px) {
    .paragraph {
        width: 100%;
        text-align: justify;
    }
}

@media screen and (width < 590px) {
    .page {
        padding: 10px;
    }
}

@media screen and (width < 645px) {
    .container_buttons {
        position: static;
        margin-top: 20px;
    }
}