.page {
    position: relative;
    height: 100%;
}

.linha_texto {
    width: 900px;
    text-align: justify;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    white-space: normal;   
}

.button_space {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

.container_button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

@media screen and (width < 590px) {
    .page{
        padding: 10px;
    }
}