.footer {
    width: 95%;
    height: 120px;
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 15px;
    align-items: end;
    justify-content: end;
}

.linha_texto {
    width: 900px;
    text-align: justify;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    white-space: normal;   
}

.button_space {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 10px;
}