.buttonsubmitone {
    height: 50px;
    width: 200px;
    background-color: #F4C7FF;
    border-radius: 10px;
    color: #807E7E;
    cursor: pointer;
    transition: .5s;
}

.buttonsubmitone:hover {
    background-color: #ffb4f2;
}

.buttonsubmittwo {
    height: 40px;
    width: 200px;
    background-color: #F4C7FF;
    border-radius: 10px;
    color: #807E7E;
    cursor: pointer;
    transition: .5s;
}

.buttonsubmittwo:hover {
    background-color: #ffb4f2;
}

.buttonbacklogin {
    height: 40px;
    width: 170px;
    background-color: #F4C7FF;
    border-radius: 10px;
    color: #807E7E;
    cursor: pointer;
    transition: .5s;
    position: fixed;
    top: 1em;
    left: 1em;
}

.buttonbacklogin:hover {
    background-color: #ffb4f2;
}

.buttonedit {
    height: 30px;
    width: 120px;
    background-color: #C5DBFF;
    border-radius: 7px;
    cursor: pointer;
    transition: .5s;
}

.buttonedit:hover {
    background-color: #aecdff;
}

@media screen and (width < 410px) {
    .buttonedit {
        height: 40px;
        width: 40px;
        border-radius: 0px;
    }
}