.buttonsubmitone {
    height: 50px;
    width: 150px;
    background-color: #40a999;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: medium;
    transition: .5s;
}

.buttonsubmitone:hover {
    background-color: #40a999;
}

.buttonsubmittwo {
    height: 40px;
    width: 150px;
    background-color: #40a999;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: medium;
    transition: .5s;
}

.buttonsubmittwo:hover {
    background-color: #40a999;
}

.buttonbacklogin {
    height: 40px;
    width: 170px;
    background-color: #40a999;
    border-radius: 5px;
    color: #374151;
    cursor: pointer;
    transition: .5s;
    position: fixed;
    top: 1em;
    left: 1em;
}

.buttonbacklogin:hover {
    background-color: #40a999;
}

.buttonedit {
    height: 30px;
    width: 120px;
    background-color: #40a999;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

.buttonedit:hover {
    background-color: #aecdff;
}

.contaddres {
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    gap: 10px;
    bottom: 30px;
    right: 30px;
    background-color: white;
    box-shadow: 0px 2px 5px -3px black;
    width: 190px;
    border-radius: 15px 50px 50px 15px;
    cursor: pointer;
}

.btnaddres {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #1b5f56;
    color: white;
    font-size: 1.7em;
    cursor: pointer;
}

.close {
    position: fixed;
    height: 50px;
    width: 50px;
    z-index: 100;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: xx-large;
    cursor: pointer;
}

.clickable {
    height: 35px;
    color: white;
    padding-inline: 20px;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    transition: .5s;
}

.clickable:hover {
    opacity: 70%;
}

.voltar {
    background-color: transparent;
    font-size: 22px;
    color: var(--dark-green);
    margin-bottom: -5px;
    cursor: pointer;
}

.close_modal {
    background-color: transparent;
    font-size: 18px;
    color: var(--title-blue);
    margin-bottom: -3px;
    cursor: pointer;
}