.card_follow {
    height: 120px;
    width: 350px;
    box-shadow: 0px 2px 5px -1px black;
    background-color: white;
    flex-shrink: 0;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.follow_header {
    height: 60px;
    display: flex;
    gap: 20px;
}

.follow_image {
    height: 60px;
    border-radius: 50%;
}

.follow_info {
    color: gray;
}

.user_name {
    font-size: larger;
    color: #6161d7;
    font-weight: 500;
}

.tag_active {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 20px;
    width: 70px;
    background-color: rgb(108, 188, 108);
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
    border-radius: 5px;
    font-size: smaller;
    font-weight: bold;
}

.tag_not_active {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 20px;
    width: 70px;
    background-color: rgb(255, 161, 161);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 74, 74);
    border-radius: 5px;
    font-size: smaller;
    font-weight: bold;
}

.follow_body {
    margin-block: 10px;
}

.profissional_tag {
    width: 100%;
    box-shadow: 0px 2px 3px -1px black;
    display: flex;
    align-items: center;
    padding-inline: 10px;
    cursor: pointer;
}

.profissional_tag div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profissional_tag div p {
    margin: 0;
}

.notification {
    width: 100%;
    height: 80px;
    box-shadow: 0px 2px 3px -1px black;
    margin-block: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-inline: 10px;
}

.notification img {
    height: 80%;
    margin-right: 10px;
    border-radius: 50%;
}

.usuario_tag {
    width: 80%;
    box-shadow: 0px 2px 3px -1px black;
    display: flex;
    gap: 15px;
    padding: 10px;
    margin-block: 12px;
}

.usuario_tag img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.naosei {
    display: flex;
    width: 100%;
    gap: 10%;
}

.text_user_card {
    display: flex;
    flex-direction: column;
    gap: 7px;
    height: 100%;
    width: 100%;
}

.follow {
    width: 100%;
    box-shadow: 0px 2px 3px -1px black;
    height: fit-content;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    margin-block: 20px;
}

.follow_text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.opacity {
    color: gray;
}

.status {
    position: absolute;
    width: 250px;
    height: 30px;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: 10px;
    font-size: 14px;
    font-weight: bold;
}

.client_preview {
    position: relative;
    width: 95%;
    box-shadow: 0px 2px 5px -1px black;
    padding: 10px;
    display: flex;
    gap: 15px;
    cursor: pointer;
}

.client_preview img {
    height: 60px;
    border-radius: 50%;
}

.preview_text {
    display: flex;
    flex-direction: column;
}

.circle {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 15px;
    width: 15px;
    background-color: var(--lime-green);
    border-radius: 50%;
}

@media screen and (width < 395px) {
    .card_follow {
        width: 100%;
    }
}

@media screen and (width < 960px) {
    .follow {
        flex-direction: column;
        gap: 5px;
        text-align: center;
        position: static;
    }
    .status {
        position: static;
        margin-top: 10px;
    }
    .usuario_tag {
        width: 550px;
    }
}

@media screen and (width < 795px) {
    .usuario_tag {
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .naosei {
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .naosei div {
        text-align: left;
    }
}

@media screen and (width < 645px) {
    .naosei {
        align-items: center;
        gap: 10px;
        flex-direction: column;
    }

    .naosei div {
        text-align: center;
    }
}

@media screen and (width < 940px) {
    .client_preview {
        width: 100%;
    }
}