.card_follow {
    height: 120px;
    width: 350px;
    box-shadow: 0px 2px 5px -1px black;
    background-color: white;
    flex-shrink: 0;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.follow_header {
    height: 60px;
    display: flex;
    gap: 20px;
}

.follow_image {
    height: 60px;
}

.follow_info {
    color: gray;
}

.user_name {
    font-size: larger;
    color: #6161d7;
    font-weight: 500;
}

.tag_active {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 20px;
    width: 70px;
    background-color: rgb(108, 188, 108);
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
    border-radius: 5px;
    font-size: smaller;
    font-weight: bold;
}

.tag_not_active {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 20px;
    width: 70px;
    background-color: rgb(255, 161, 161);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 74, 74);
    border-radius: 5px;
    font-size: smaller;
    font-weight: bold;
}

.follow_body {
    margin-block: 10px;
}

.profissional_tag {
    height: 120px;
    width: 100%;
    box-shadow: 0px 2px 3px -1px black;
    display: flex;
    align-items: center;
    padding-inline: 10px;
    cursor: pointer;
}

.profissional_tag img {
    height: 90%;
    width: 105px;
}

.profissional_tag div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profissional_tag div p {
    margin: 0;
}