.profissionalcard {
    height: 70px;
    width: 200px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 5px;
}

.containerprocard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.perfilcardicon {
    height: 50px;
}

.auth {
    color: green;
    display: block;
}

.notauth {
    color: red;
    display: block;
}

@media screen and (width < 667px) {
    .containerprocard {
        justify-content: center;
        align-items: center;
    }
}