.pages {
    flex: 1;
    height: 100vh;
    width: 100%;
}

.internalpages {
    display: flex;
    width: 100%;
}

.internalcontainer {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding: 2%;
    height: 100vh;
}

@media screen and (width < 590px) {
    .internalpages {
        flex-direction: column;
    }
    .internalcontainer {
        display: flex;
        flex-direction: column;
    }
}