.container {
    display: flex;
    flex-direction: column;
}

.container header {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.container_input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.container_button {
    margin-top: 20px;
}

@media screen and (width < 590px) {
    .container {
        padding: 10px;
    }
}