.pages {
    flex: 1;
    height: 100vh;
    width: 100%;
}

.internalpages {
    display: flex;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.internalcontainer {
    height: 100%;
    width: 100%;
    padding: 2%;
}

.content {
    display: flex;
    height: 100%;
    width: 100%;
}

.title {
    color: #fd8aea;
    font-size: 2.5em;
}

.subtitle {
    color: #fd8aea;
    font-weight: 350;
}

.separator {
    margin: 0;
    height: 30px;
}

.smallsep {
    margin: 10px;
}

.mediumsep {
    margin: 30px;
}

.wave {
    position: fixed;
    z-index: -9999;
    bottom: 0;
    width: 100%;
    height: 200px;
}

.link {
    color: #636363;
    cursor: pointer;
}
.imagelogin {
    height: 100%;
    width: 50%;
    background-color: #F4C7FF;
    background-image: url('../assets/images/login-image.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.wavelogin {
    position: fixed;
    z-index: -9999;
    bottom: 0;
    width: 100%;
    height: 150px;
    display: none;
}

@media screen and (width < 800px) {
    .imagelogin {
        display: none;
    }
    .pages {
        display: flex;
        flex-direction: column;
    }
    .wavelogin {
        display: block;
    }
}

@media screen and (width < 1000px) {

    .internalpages {
        flex-direction: column;
    }

    .internalcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .souprd {
        justify-content: center;
    }
}