.containerinput {
    display: flex;
    align-items: center;
    width: 100%;
}

.iconinputl {
    width: 50px;
    height: 50px;
    background-color: #C5DBFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0px 0px 5px;
    font-size: larger;
    color: #374151;
}

.iconinputc {
    width: 50px;
    height: 40px;
    background-color: #C5DBFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0px 0px 5px;
    font-size: larger;
    color: #374151;
}

.input {
    height: 40px;
    width: 300px;
    background-color: #C5DBFF;
    border: none;
    border-radius: 0px 5px 5px 0px;
    outline: unset;
    padding-inline: 10px;
}

.inputlogin {
    height: 50px;
    width: 300px;
    background-color: #C5DBFF;
    border: none;
    border-radius: 0px 5px 5px 0px;    
    outline: unset;
    padding-inline: 10px;
}

.senha {
    height: 50px;
    width: 250px;
    background-color: #C5DBFF;
    border: none;
    outline: unset;
    padding-inline: 10px;
}

.senhac {
    height: 40px;
    width: 250px;
    background-color: #C5DBFF;
    border: none;
    outline: unset;
    padding-inline: 10px;
}

.showpass {
    height: 50px;
    width: 50px;
    background-color: #C5DBFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    color: #374151;
}

.showpassc {
    height: 40px;
    width: 50px;
    background-color: #C5DBFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    color: #374151;
}

.selectdate {
    width: 40%;
    height: 40px;
    background-color: #C5DBFF;
    border: none;
    border-radius: 3px;
    outline: unset;
    padding-inline: 25px;
    color: #374151;
}

.containerdates {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    width: 100%;
}

.emotioninput {
    display: flex;
    gap: 10px;
}


.emojibutton {
    background-color: transparent;
    cursor: pointer;
    transition: .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emojibuttontransparent {
    background-color: transparent;
    cursor: pointer;
    transition: .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 45%;
}

.emojiicon {
    height: 45px;
    width: 45px;
}

.anotationinput {
    width: 90%;
    height: 170px;
    resize: none;
    padding: 15px;
    background-color: #C5DBFF;
    outline: unset;
    border-radius: 5px;
}

.editinput {
    height: 40px;
    width: 300px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: gray;
    padding-inline: 10px;
    border-radius: 7px;
    outline: unset;
}

.radio_container {
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px solid gray;
    padding-inline: 12px;
    height: 40px;
    width: 32%;
    white-space: nowrap;  
    overflow: hidden;             
    text-overflow: ellipsis;  
}

.radio_personalize {
    height: 30px;
    border-bottom: 1px solid gray;
    padding-inline: 20px;
    margin-top: 5px;
    outline: unset;
    width: 100%;
}

.radio_external {
    display: flex;
    gap: 10px;
    margin-top: 2px;
}

.input_comum {
    height: 40px;
    width: 350px;
    background-color: #C5DBFF;
    border: none;
    border-radius: 5px;
    outline: unset;
    padding-inline: 10px;
    margin-block: 5px;
}

.picker_option {
    height: 30px;
    background-color: #C5DBFF;
    font-size: smaller;
    padding-inline: 10px;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
}

.container_options {
    position: absolute;
    top: 50px;
    border-top: 1px solid gray;
    z-index: 999999999;
    width: 100%;
}


.textinput {
    padding: 10px;
    outline: unset;
    border: 1px solid gray;
    resize: none;
    border-radius: 5px;
    margin-top: 5px;
    width: 600px;
}

.container_picker {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

@media screen and (width < 680px) {
    .textinput {
        width: 350px;
        height: 120px;
    }
}

@media screen and (width < 385px) {
    .inputlogin {
        width: 270px;
    }

    .senha {
        width: 220px;
    }
}