.containerinput {
    display: flex;
}

.iconinputl {
    width: 50px;
    height: 50px;
    background-color: #C5DBFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0px 0px 5px;
    font-size: larger;
    color: #374151;
}

.iconinputc {
    width: 50px;
    height: 40px;
    background-color: #C5DBFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0px 0px 5px;
    font-size: larger;
    color: #374151;
}

.input {
    height: 40px;
    width: 300px;
    background-color: #C5DBFF;
    border: none;
    border-radius: 0px 5px 5px 0px;
    outline: unset;
    padding-inline: 10px;
}

.inputlogin {
    height: 50px;
    width: 300px;
    background-color: #C5DBFF;
    border: none;
    border-radius: 0px 5px 5px 0px;    
    outline: unset;
    padding-inline: 10px;
}

.senha {
    height: 50px;
    width: 250px;
    background-color: #C5DBFF;
    border: none;
    outline: unset;
    padding-inline: 10px;
}

.senhac {
    height: 40px;
    width: 250px;
    background-color: #C5DBFF;
    border: none;
    outline: unset;
    padding-inline: 10px;
}

.showpass {
    height: 50px;
    width: 50px;
    background-color: #C5DBFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    color: #374151;
}

.showpassc {
    height: 40px;
    width: 50px;
    background-color: #C5DBFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    color: #374151;
}

.inputform {
    display : flex; 
    flex-direction : column; 
    justify-content : center;
    align-items : center;
    width : 50%;
    gap: 1em;
}

.cadastroform {
    display : flex; 
    flex-direction : column; 
    justify-content : center;
    align-items : center;
    width : 400px;
    gap: 1em;
    background-color: #F9FAFB;
    box-shadow: 0px 2px 5px -1px black;
    padding: 1em;
    border-radius: 5px;
}

.selectdate {
    width: 110px;
    height: 40px;
    background-color: #C5DBFF;
    border: none;
    border-radius: 3px;
    outline: unset;
    padding-inline: 25px;
    color: #374151;
}

.containerdates {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.emotioninput {
    display: flex;
    gap: 10px;
}


.emojibutton {
    background-color: transparent;
    cursor: pointer;
    transition: .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emojibuttontransparent {
    background-color: transparent;
    cursor: pointer;
    transition: .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 45%;
}

.emojiicon {
    height: 45px;
    width: 45px;
}

.anotationinput {
    width: 90%;
    height: 170px;
    resize: none;
    padding: 15px;
    background-color: #C5DBFF;
    outline: unset;
    border-radius: 5px;
}

.warning {
    color: red;
}

.editinput {
    height: 40px;
    width: 300px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: gray;
    padding-inline: 10px;
    border-radius: 7px;
    outline: unset;
}