.input {
    height: 40px;
    width: 350px;
    background-color: #C5DBFF;
    border: none;
    border-radius: 5px;
    outline: unset;
    padding-inline: 10px;
}

.inputlogin {
    height: 50px;
    width: 350px;
    background-color: #C5DBFF;
    border: none;
    border-radius: 5px;
    outline: unset;
    padding-inline: 10px;
}

.inputform {
    display : flex; 
    flex-direction : column; 
    justify-content : center;
    align-items : center;
    width : 50%;
    gap: 1em;
}

.cadastroform {
    display : flex; 
    flex-direction : column; 
    justify-content : center;
    align-items : center;
    width : 400px;
    gap: 1em;
    background-color: #F9FAFB;
    padding: 1em;
    border-radius: 10px;
}

.selectdate {
    width: 110px;
    height: 40px;
    background-color: #C5DBFF;
    border: none;
    border-radius: 5px;
    outline: unset;
    padding-inline: 25px;
    color: #807e7e;
}

.containerdates {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.emotioninput {
    display: flex;
    gap: 10px;
}


.emojibutton {
    background-color: transparent;
    cursor: pointer;
    transition: .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emojibuttontransparent {
    background-color: transparent;
    cursor: pointer;
    transition: .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 45%;
}

.emojiicon {
    height: 45px;
    width: 45px;
}

.anotationinput {
    width: 90%;
    height: 170px;
    resize: none;
    padding: 15px;
    background-color: #C5DBFF;
    outline: unset;
    border-radius: 10px;
}

@media screen and (width < 430px) {
    .cadastroform {
        width: 350px;
    }
    .input, .inputform {
        width: 300px;
    }
    .selectdate {
        width: 95px;
    }
}

@media screen and (width < 800px) {
    .inputform {
        width: 100%;
    }
}