.container {
    height: 90%;
    width: 90%;
    position: fixed;
    z-index: 99;
    background-color: white;
    box-shadow: 0px 5px 20px -1px black;
    top: 5%;
    left: 5%;
    display: flex;
    padding: 20px;
}

.imagearea {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
}

.profilepic {
    height: 150px;
}

.infosarea {
    width: 85%;
    height: 100%;
}

.nameuser {
    padding-bottom: 10px;
    border-width: 0px 0px 1px 0px;
    border-color: black;
    border-style: solid;
}

.inputsarea {
    display: flex;
    width: 100%;
    padding-top: 20px;
}

.boxinput {
    display: flex;
    flex-direction: column;
}

.containerbutton {
    width: 100%;
    display: flex;
    justify-content: end;
    height: 70%;
    align-items: end;
}

@media screen and (width < 1260px) {
    .imagearea {
        width: 30%;
    }

    .infosarea {
        width: 70%;
    }
}

@media screen and (width < 610px) {
    .container {
        flex-direction: column;
    }

    .imagearea {
        height: 15%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .profilepic {
        height: 100px;
    }
    .infosarea {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .inputsarea {
        justify-content: center;
        display: flex;
    }
}