.container {
    width: 100%;
    box-shadow: 0px 2px 3px -1px black;
    padding: 15px;
}

.container header {
    display: flex;
    justify-content: space-between;
}

.informacoes {
    display: flex;
    gap: 10%;
}

.coluna {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.label {
    color: gray;
}

@media screen and (width < 660px) {
    .informacoes {
        flex-direction: column;
    }
    .coluna {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .last_line {
        text-align: end;
    }
}