.header {
    width : 100%;
}

.nome {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: x-large;
    border-width: 0px 0px 1px 0px;
    border-color: black;
    border-style: solid;
    font-weight: bold;
}

.informacao {
    display: flex;
    flex-direction: column;
}

.informacoes {
    display: flex;
    gap: 500px;
}