.container {
    position: sticky;
    top: 0;
    height: 100%;
    width: 20%;
    background-color: #f4c7ff;
    padding-top: 35px;
}

.header {
    width: 85%;
    height: 70x;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 50px;
    margin-inline: 20px;
}

.perfilicon {
    height: 60px;
    z-index: 1;
}

.username {
    margin-left: -20px;
    font-size: large;
    font-weight:450;
    background-color: #e5a9f4;
    height: 50px;
    width: 90%;
    padding-left: 30px;
    display: flex;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
}

.option {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2em;
    cursor: pointer;
    padding: 10px;
    padding-left: 30px;
    transition: .5s;
}

.option:hover {
    background-color: #f1baff;
    color: gray;
}