:root {
    --text-green : #268577;
    --dark-green : #1b5f56;
    --white-blue : #c5dbff;
    --light-blue : #98c0ff;
    --title-blue : #6161d7;
    --button-red : #a90000;
    --blue-green : #40a999;
    --lime-green : #00b700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
    height: 100%;
}

#nprogress .bar {
  background: #4f46e5; /* cor principal */
  height: 6px;  
  display: none;       /* altura da barra */
}

/* adiciona sombra abaixo da barra */
#nprogress .bar {
  box-shadow: 0 0 10px #4f46e5, 0 0 5px #4f46e5;
  display: none;
}

/* customiza o spinner opcional */
#nprogress .spinner-icon {
  border-top-color: #4f46e5;
  border-left-color: #4f46e5;
}

/* remove o spinner se quiser */
#nprogress .spinner {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  scrollbar-width: none;
}

.react-horizontal-scrolling-menu--inner-wrapper::-webkit-scrollbar {
  display: none;
}